.app-bar {
  background-color: #6f81a5;
}

.tool-bar {
  min-height: 60px;
  justify-content: space-between;
}

.logo {
  color: white;
  border-radius: 30px;
}

.logo:hover {
  background-color: #5b6d8f;
}

.logo .button-icon {
  font-size: 40px;
}

.logo .logoName {
  margin: 0px 0px 0px 4px;
}

.profile-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  border-radius: 30px;
}

.button,
.profile-link {
  background: #5b6d8f;
}

.button:hover,
.profile-link:hover {
  background: #4b5c7d;
}

.profile-name {
  margin: 0px 12px 0px 8px;
  white-space: nowrap;
}

.button .button-icon {
  color: white;
  font-size: 30px;
}
