.profileinfo-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.profileinfo-top {
  width: 100%;
}

.profileinfo-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileinfo-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
