.profileinfo-container {
  background-color: #6f81a5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.profileinfo-top {
  height: 400px;
}

.profileinfo-top img {
  height: 100%;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.profileinfo-bottom {
  display: flex;
  align-items: center;
  height: 100px;
  margin: 0px 30px;
  gap: 10px;

  /* justify-content: space-between; */
}

.profileinfo-avatar {
  height: 170px;
  width: 170px;
  transform: translateY(-45px);
  margin-right: 30px;
}

.profileinfo-names {
}

.profileinfo-bottomcenter {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.profileinfo-follow {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.follow-button {
  height: 40px;
  background: #5b6d8f;
  color: white;
}

.follow-button:hover {
  background: #4b5c7d;
}

.profileinfo-stats {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;
  gap: 10px;
}

@media screen and (max-width: 1000px) {
  .profileinfo-bottom {
    flex-direction: column;
  }
}
